.jobs .projects{ padding-top: 220px; height:100px; }
.jobs .projects ul{  }
.jobs .projects ul li{ padding: 8px; display: none; float: left; width:300px; }
.jobs .projects ul li a{ opacity: .5; }
.jobs .projects ul li img{ border:1px solid gray; }
.jobs .projects ul li h2{ font-family: 'Arial'; font-size:16px; color:#e6e6e6; margin-top: 10px; opacity: .6; }
.jobs .projects ul li p{ font-family: 'QuicksandLight'; font-size:14px; color:#fff; margin-top: 10px; opacity: .9; }