@import "../global/_reset"
@import "../global/_global"

.visual_identity 
	.title
		position: relative
		height: 90px
		margin-bottom: 37px
		h1
			position: absolute
			top: 40px
			background:url('../images/sprite.png') no-repeat
			text-indent:-9999px
			opacity: 0
			display: none
	.social
		margin: 0 auto
		> li
			position: relative
			width: 96px
			height: 96px
			float: left
			&:last-child
				margin-right:0px !important
			
			> a
				position: absolute
				top: 40px
				opacity: 0
				display: none
				background:url('../images/sprite.png') no-repeat
				text-indent:-9999px
				&.semiTransparent
					opacity: .3

.visual_identity{ width:684px; height:222px; position: absolute; top: 50%; left: 50%; margin: -111px 0 0 -342px; }
.visual_identity h1{ width:684px; height:89px; background-position:top left; margin-bottom: 37px; }
.visual_identity .social{ width: 628px; }
.visual_identity .social > li{ margin-right:37px; }
.visual_identity .social > li > a{ width:96px; height:95px; }
.visual_identity .social > li > a.linkedin{ background-position:0px -214px; }
.visual_identity .social > li > a.twitter{ background-position:-131px -214px; }
.visual_identity .social > li > a.facebook{ background-position:-263px -214px; }
.visual_identity .social > li > a.email{ background-position:-394px -214px; }
.visual_identity .social > li > a.pdf{ background-position:-527px -214px; }