
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
}
body {
  background: #000;
  position: relative;
}
.clear {
  clear: both;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  display: none;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  background: url("../images/loader.gif") no-repeat;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#container {
  width: 100%;
  height: 100%;
  min-width: 960px;
  position: relative;
}
.visual_identity .title {
  position: relative;
  height: 90px;
  margin-bottom: 37px;
}
.visual_identity .title h1 {
  position: absolute;
  top: 40px;
  background: url("../images/sprite.png") no-repeat;
  text-indent: -9999px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.visual_identity .social {
  margin: 0 auto;
}
.visual_identity .social > li {
  position: relative;
  width: 96px;
  height: 96px;
  float: left;
}
.visual_identity .social > li:last-child {
  margin-right: 0px !important;
}
.visual_identity .social > li > a {
  position: absolute;
  top: 40px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  display: block;
  background: url("../images/sprite.png") no-repeat;
  text-indent: -9999px;
}
.visual_identity .social > li > a.semiTransparent {
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
.visual_identity {
  width: 684px;
  height: 222px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -111px 0 0 -342px;
}
.visual_identity h1 {
  width: 684px;
  height: 89px;
  background-position: top left;
  margin-bottom: 37px;
}
.visual_identity .social {
  width: 628px;
}
.visual_identity .social > li {
  margin-right: 37px;
}
.visual_identity .social > li > a {
  width: 96px;
  height: 95px;
}
.visual_identity .social > li > a.linkedin {
  background-position: 0px -214px;
}
.visual_identity .social > li > a.twitter {
  background-position: -131px -214px;
}
.visual_identity .social > li > a.facebook {
  background-position: -263px -214px;
}
.visual_identity .social > li > a.email {
  background-position: -394px -214px;
}
.visual_identity .social > li > a.pdf {
  background-position: -527px -214px;
}

.main {
  color: #fff;
  background-color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
